:root {
	--bgc-main: #000000;
	--bgc-nav: #8000ff;
	--bgc-title: rgb(0, 47, 255);
	--bgc-active: #902000 ;
	--bgc-target: #D04000 ;
	--text-color: green ;
	--nav-total: 2;
	--nav-height: calc(40px + 1.0vw);
	--big-text: calc(10px + 0.7vw);
	--little-text: calc(10px + 0.5vw);
}

.topnav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--bgc-nav);
	width: 100%;
	height: var(--nav-height);

}

.topnav .navClassCont * {
	border: solid 0.1vw black;
	float: left;
	height: var(--nav-height);
	width: calc(100%/var(--nav-total));
	margin: 0;
	
	vertical-align: middle;
	padding-top: calc(var(--nav-height)/ 4);
	padding-bottom: 1.5vh;
	
	text-align: center;
	text-decoration: none;
	font-size: var(--big-text);
	color: white;

}

.topnav .navClassCont:hover * {
	background-color: var(--bgc-active);
}

.topnav .navClassCont .dropTopNav {
	display: none;
	position: fixed;
	background-color: var(--bgc-active);
	height: auto;
	top: var(--nav-height);
	padding: 0;
}

.topnav .navClassCont .dropTopNav * {

	border: solid 0.1vw;
	border-color: var(--bgc-main);
	display: none;
	font-size: 2.3vw;
	height: auto;
	width: 100%;
	overflow: hidden;
	position: sticky;
}
.topnav .navClassCont a:hover {
	background-color: var(--bgc-target);
}

.navClassCont:hover .dropTopNav {
	display: block;
}
.topnav .navClassCont:hover .dropTopNav * {
	display: block;
}


